{% extends 'base.html' %}

{% block head %}
<title>Contacts</title>
{% endblock%}

{% block styles %}

<style type="text/css">
  .jumbotron-heading{
    margin-top:30px;
  }
  .lead text-muted{
    margin-top:20px;
  }
  .form{
    margin-top:10px;
    margin-left:150px;
    margin-right: 150px;
    margin-bottom:40px;
  }
  input {
      width: 100%;
      padding: 6px 10px;
      box-sizing: border-box;
      border: 2px solid #ccc;
      border-radius: 4px;
      background-color: #f8f8f8;
      resize: none;
  }
  textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}



</style>
{% endblock%}


{% block content %}

<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">How you can contact with me?</h1>
        <p class="lead text-muted">Ask your question here</p>
        <p class="lead text-muted">Follow me <a href="https://www.instagram.com/ri_zarubina/"><img
                src="https://bedzrus.co.uk/pub/media/wysiwyg/instagram.png" width="40px"></a></p>


    </div>
</section>

<form class="form" method="post">
    {% csrf_token %}

    {% for field in form %}
        <div class="form-group">
            {{ field.errors }}
            {{ field.label_tag }}<br> {{ field }}
        </div>
    {% endfor %}

    <button type="submit" class="btn btn-primary">Send</button>
</form>



<footer class="text-muted">
    <div class="container">
        <p class="float-right">
            <a href="{% url 'knittingshop:gallery' %}">Back to gallery</a>
        </p>
    </div>
</footer>

{% endblock%}